<link rel="import" templateUrl="package:bower_components/polymer/polymer.html">
<dom-module id="user-summary-view">
    <template>
        <style is="custom-style" include="shared-styles iron-flex iron-flex-alignment">
             :host {}
        </style>
        <paper-header-panel>
            <paper-toolbar class="view-toolbar">
                <label>[[subTitle]]</label>
                <span class="divider">/</span>
                <label class="view-title">[[title]]</label>
                <span class="flex"></span>
                <div> </div>
            </paper-toolbar>
            <div class="view-main">
                <nagi-panel title="검색" sub-title="SEARCH" class="search_container">
                    <nagi-search-box id="search_box" on-search="refresh" class="module_main">
                        <div class="field">
                            <label>ID/이름</label>
                            <nagi-input id="id_txt"></nagi-input>
                        </div>
                        <div class="field">
                            <label>등록시간</label>
                            <nagi-date-box id="date_box"></nagi-date-box>
                        </div>
                    </nagi-search-box>
                </nagi-panel>
                <nagi-divider align="v"></nagi-divider>
                <div class="layout vertical flex">
                    <nagi-grid-panel class="layout horizontal flex" id="grid_panel" title="목록" sub-title="LIST" on-page="paging" on-select="grid_select" no-paging> </nagi-grid-panel>
                    <nagi-panel style="height:50%" title="요약" sub-title="SUMMARY">
                        <div class="layout horizontal module_main">
                            <nagi-chart style="width:100%;height:100%" type="line" id="line_chart" on-select="line_select"></nagi-chart>
                            <nagi-chart style="width:100%;height:100%" type="pie" id="pie_chart" on-select="pie_select"></nagi-chart>
                        </div>
                    </nagi-panel>
                </div>
            </div>
        </paper-header-panel>
    </template>
    <script>
        Polymer({
            is: 'user-summary-view',
            properties: {
                title: {
                    type: String
                },
                subTitle: {
                    type: String
                }
            },
            ready() {
                this.legend_data = [];
                this.line_data = [];
                this.pie_data = [];
            },
            attached() {
                this.async(this.init, 300);
            },
            init() {
                this.refresh();
            },
            refresh() {
                this.loadData();
            },
            getSearchData() {
                var result = {
                    'UserName|name': FormUtil.getLikeStr(this.$.id_txt.getValue())
                };
                result = _.assign(result, this.$.date_box.getValue());
                return result;
            },
            loadData() {
                var me = this;
                var param = this.getSearchData();
                log.info(param);
                axios.post('getUserSummaryByTime', param).then(function(response) {
                    me.parseData(response.data);
                });
            },
            parseData($data) {
                //this.legend_data = $data.legend_data;
                this.line_data = $data.line_data;
                this.pie_data = $data.pie_data;
                this.grid_data = $data.grid_data;
                this.$.line_chart.draw(this.line_data);
                this.$.pie_chart.draw(this.pie_data);
                var columns = [];
                _.forIn(this.grid_data[0], (v, k) => {
                    columns.push({
                        label: k,
                        value: k
                    });
                });
                this.$.grid_panel.init({
                    'column': columns
                });
                this.$.grid_panel.draw(this.grid_data);
                app.dispatchEvent(new Event("load_complete", {
                    detail: {}
                }));
            },
            paging(event) {
                this.loadData();
            },
            grid_select(e) {},
            line_select(e) {
                this.$.grid_panel.select(e.detail.index);
            },
            pie_select(e) {
                this.$.grid_panel.select(e.detail.index);
            }
        });
    </script>
</dom-module>