dist/
.gradle/
backend/build/
backend/webapp/
backend/.gradle/
frontend/dist/
frontend/build/
frontend/node_modules/
frontend/app/bower_components/
frontend/.tmp/
frontend/.tmp/.history/
frontend/.vscode/chrome/
**/*.log
