<link rel="import" templateUrl="package:bower_components/polymer/polymer.html">
<dom-module id="nagi-spinner">
    <template>
        <style include="shared-styles iron-flex iron-flex-alignment">
             :host {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1000;
                @apply --layout-vertical;
                @apply --layout-center-center;
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s linear 500ms, opacity 500ms;
            }

             :host(.show) {
                visibility: visible;
                opacity: 1;
                transition: visibility 0s linear 0s, opacity 300ms;
            }

            .back {
                z-index: 1;
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: black;
                opacity: 0.5;
            }

            .spinner {
                z-index: 2;
                width: 100%;
                height: 100px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .spinner>div {
                width: 18px;
                height: 18px;
                background-color: white;
                border-radius: 100%;
                display: inline-block;
                animation: sk-bouncedelay 1.4s infinite ease-in-out both;
                margin-right: 15px;
            }

            .spinner .bounce1 {
                animation-delay: -1.2s;
            }

            .spinner .bounce2 {
                -webkit-animation-delay: -0.9s;
                animation-delay: -0.9s;
            }

            .spinner .bounce3 {
                -webkit-animation-delay: -0.6s;
                animation-delay: -0.6s;
            }

            .spinner .bounce4 {
                -webkit-animation-delay: -0.3s;
                animation-delay: -0.3s;
            }

            @keyframes sk-bouncedelay {
                0%, 80%, 100% {
                    transform: scale(0);
                }
                40% {
                    transform: scale(2.0);
                }
            }

            .label {
                text-align: center;
                font-size: 15px;
                font-weight: 600;
                color: white;
            }
        </style>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
            <div class="bounce4"></div>
        </div>
        <div class="back"> </div>
    </template>
    <script>
        Polymer({
            is: 'nagi-spinner'
        });
    </script>
</dom-module>