<link rel="import" templateUrl="package:bower_components/polymer/polymer.html">
<dom-module id="nagi-panel">
    <template>
        <style is="custom-style" include="shared-styles iron-flex iron-flex-alignment">
             :host {
                width: 100%;
                height: 100%;
                padding: 8px 10px 5px 10px;
            }

            .header {
                @apply --layout-horizontal;
                @apply --layout-center-center;
                height: 40px;
            }
            /*.footer {
				padding-left: 10px;
				padding-right: 10px;
				height: 25px;
				background-color: white;
				@apply(--layout-horizontal);
				@apply(--layout-center-center);
			}*/

             ::content.module_main {
                @apply --layout-center;
                height: calc(100% - 60px);
            }
            /*:host([footer]) .module_main {
				height: calc(100% - 55px);
				background-color: black;
				border: 1px solid red;
			}*/

            paper-button {
                margin: 0px !important;
                padding: 0px !important;
            }

            label.title {
                font-size: 16px;
                font-weight: bold;
                margin-right: 5px;
                color: black;
            }

            label.sub-title {
                font-size: 11px;
                vertical-align: bottom;
                color: #585757;
                padding-top: 5px;
            }
        </style>
        <div class="header">
            <label class="title">{{title}}</label>
            <label class="sub-title">{{subTitle}}</label>
            <span class="space"></span>
            <content select=".module_header"></content>
        </div>
        <nagi-divider></nagi-divider>
        <content id="main_content" select=".module_main"></content>
        <!--
		<nagi-divider id="footer_divider" hidden$="{{footer}}"></nagi-divider>
		<div class="footer" hidden$="{{footer}}">
			<content id="footer_content" select=".module_footer"></content>
		</div> -->
    </template>
    <script>
        Polymer({
            is: 'nagi-panel',
            properties: {
                title: {
                    type: String
                },
                subTitle: {
                    type: String
                }
            },
            ready() {
                /*
                var nodes = Polymer.dom(this.$.footer_content).getDistributedNodes();
                log.info(nodes);
                if (nodes.length == 0) {
                	footer = false;
                }
                */
            },
            attached() {}
        });
    </script>
    </polymer-element>